.modalButton {
  border-radius: 4px;
  background-color: #ffffff;
  border: none;
  color: #fff;
  text-align: center;
  padding: 16px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.modalButton {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.modalButton:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.modalButton:hover:after {
  opacity: 1;
  right: 10px;
}

.line {
  width: 171px;
  height: 61px;
  flex-shrink: 0;
}

.marker:hover {
  background-color: #d0d0d0;
}

/* modal.css */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px 20px 20px 20px;
  z-index: 1000;
}

.modal-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  font-family: "Krona One";
}

.modalButton {
  display: block;
  font-family: "Krona One";
  background: rgba(60, 140, 221, 0.66);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
}

/* Styles for devices with a width of 768px or less (tablets and mobile devices) */
@media (max-width: 1284px) {
  .modalButton {
    font-size: 0.8em; /* Adjust font size */
  }
}

.modalButtonReturn {
  display: block;
  font-family: "Krona One";
  background: rgba(60, 140, 221, 0.66);
  width: 10%;
  padding: 10px;
  margin: 10px 0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
}

/* Styles for devices with a width of 768px or less (tablets and mobile devices) */
@media (max-width: 1284px) {
  .modalButtonReturn {
    font-size: 0.8em; /* Adjust font size */
    width: 10%;
  }
}

.modalButton:hover {
  background-color: #0056b3;
  padding-right: 24px;
  padding-left: 8px;
}

.modalButton p {
  margin: 0;
}

.exit {
  color: #000;
  font-family: "Krona One";
  font-size: 1.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  padding: 0;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 95%;
  bottom: 90%;
}

.exit:after {
  content: none;
}

.exit:hover {
  padding: 0;
  text-decoration: none;
}
