#moreInfo {
  background: none;
  border: none;
  padding: 0;
}
#moreInfo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.title {
  color: #d53d3d;
  font-family: Cabin;
  font-size: 5vh;
  font-weight: 700;
  padding: 0;
}

.body {
  color: #153bf1;
  font-size: 5vh;
  font-family: Cabin;
  font-weight: 700;
}
