#moreInfo {
  background: none;
  border: none;
  padding: 0;
}
#moreInfo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.title {
  color: #000;
  font-family: "Krona One";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.body {
  color: #000;
  font-family: "Krona One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -5%;
}
