@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.App {
  text-align: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.bg {
  background-image: url(./assets/sstImg.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.layer {
  background-image: url(./assets/layerImage.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -20vh;
}

#welcome {
  color: #fff;
  font-family: "Comic Neue";
  font-size: 8vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

#svt {
  color: #fff;
  font-family: "Comic Neue";
  font-size: 13.4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0%;
  margin-top: -6vh;
}

#bar {
  width: 59vw;
  height: 2.2vh;
  flex-shrink: 0;
  margin-top: -8vh;
  background: linear-gradient(
      0deg,
      rgba(0, 224, 255, 0.2) 0%,
      rgba(0, 224, 255, 0.2) 100%
    ),
    linear-gradient(90deg, #dd3c50 0%, #3c8cdd 100%);
}

#mainButton {
  width: 34vw;
  height: 15vh;
  display: flex;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2.5px solid #fff;
  background-color: transparent;
  transform: translateY(8.5vh);
  position: relative;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
}
#mainButton:hover {
  cursor: pointer;
  transform: translateY(8.5vh) scale(1.1);
}

#buttonBack {
  width: 30vw;
  height: 15vh;
  flex-shrink: 0;
  border-radius: 4px;
  border-right: 2.5px solid #fff;
  border-bottom: 2.5px solid #fff;
  background-color: transparent;
  position: absolute;
  top: 59vh;
  left: 73vh;
  z-index: 0;
}

@media (max-width: 1440px) {
  #buttonBack {
    top: 60vh;
    left: 66vh;
  }
}

#begin {
  color: #fff;
  text-align: center;
  font-family: "Comic Neue";
  font-size: 9vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
